{
  "amazon_access_id": "",
  "amazon_access_key": "",
  "amazon_bucket": "",
  "rotator_api_url": "This url is what the rotator uses to call the API, so it will be something like http://user:password@localhost:8000"
}
