<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <base href="http://ops1.opsview.com/adverts/" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link rel="stylesheet" href="public/style.css">
  <title>Opsview Adverts</title>
</head>
<body>
  <nav style="background-color:rgb(62,33,85);padding-left:10px;padding-right:10px;">
    <div class="nav-wrapper" style="width: 980px;margin: 0 auto;">
      <a href="#" class="brand-logo"><b>Opsview Adverts</b></a>
      <ul class="right">
        <a class="orange lighten-1 btn" href="#modal1">Add Advert</a>
        <li><button class="btn orange lighten-1" id="toggleAds">Loading...</button></li>
      </ul>
    </div>
  </nav>
  {{{body}}}
</body>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="http://momentjs.com/downloads/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.js"></script>
<script src="public/opsview-adverts.js"></script>
</html>
