<div class="row">
  <h3>Add New Advert</h3>
  <form action="/advert" method="post" enctype="multipart/form-data">
    <div class="input-field">
      <label>Advert Name</label>
      <input class="form-control" placeholder="An identifier for this advert" type="text" name="advert_name" required />
    </div>
    <div class="input-field">
      <label>Redirect URL</label>
      <input type="url" name="redirect_url" required placeholder="Where to redirect users to when they click this advert" />
    </div>
    <div class="input-field">
      <select name="target_version" multiple required>
        <option value="all" selected>All Versions</option>
        <option value="5.3.0">5.3.0</option>
        <option value="5.2.1">5.2.1</option>
        <option value="5.2.0">5.2.0</option>
        <option value="5.1.0">5.1.0</option>
        <option value="5.0.2">5.0.2</option>
        <option value="5.0.1">5.0.1</option>
        <option value="5.0.0">5.0.0</option>
        <option value="4.6.0">4.6.0</option>
      </select>
      <label>Target Version</label>
    </div>
    <div class="file-field input-field">
      <div class="btn light-blue darken-3">
        <span>Advert Image</span>
        <input type="file" name="advert_image" required>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Uploaded to Opsview then on to S3">
      </div>
    </div>
    <p style="text-align:center;"><button type="submit" style="width:300px;" class="btn btn-large opsview">Add Advert</button></p>
  </form>
</div>
