<div class="container">
  <div class="current">
    <h1>Current</h1>
    <form class="add-advert" enctype="multipart/form-data">
      <h3>Add Advert</h3>
      <input type="text" name="advert_name" placeholder="Name" required>
      <input type="text" name="advert_redirect_url" placeholder="Redirect Url" required>
      <select name="advert_target_version" multiple required>
        <option value="all" selected="">All Versions</option>
        <option value="5.3.0">5.3.0</option>
        <option value="5.2.1">5.2.1</option>
        <option value="5.2.0">5.2.0</option>
        <option value="5.1.0">5.1.0</option>
        <option value="5.0.2">5.0.2</option>
        <option value="5.0.1">5.0.1</option>
        <option value="5.0.0">5.0.0</option>
        <option value="4.6.0">4.6.0</option>
      </select>
      <select name="advert_target_size" required>
        <option value="640x960">Mobile (640x960)</option>
        <option value="500x300">Desktop (500x300)</option>
        <option value="600x200">Desktop (600x200)</option>
      </select>
      <input type="file" name="advert_image" placeholder="Image" required>
      <button type="submit">Add</button>
      <img src="https://i.stack.imgur.com/kOnzy.gif" style="display:none;width:20px;height:20px;" id="add-advert-loader">
    </form>
    <h3>Adverts</h3>
  </div>
  <div class="future">
    <h1>Future</h1>
  </div>
</div>
