<div class="mt-4">
  <h2>Add New Advert</h2>
  <p>
    <form action="/advert" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="target_version">Advert Name</label>
        <input class="form-control" id="campaign_name" type="text" name="advert_name" required />
        <small class="form-text text-muted">An identifier for this advert</small>
      </div>
      <div class="form-group">
        <label for="target_version">Redirect URL</label>
        <input class="form-control" id="target_version" type="url" name="redirect_url" required />
        <small class="form-text text-muted">Where to redirect users to when they click this advert</small>
      </div>
      <div class="form-group">
        <label for="target_version">Target Version</label>
        <select style="height: 200px;" class="form-control" id="target_version" name="target_version" multiple required>
          <<option value="all" selected>All Versions</option>
          <option value="5.3.0">5.3.0</option>
          <option value="5.2.1">5.2.1</option>
          <option value="5.2.0">5.2.0</option>
          <option value="5.1.0">5.1.0</option>
          <option value="5.0.2">5.0.2</option>
          <option value="5.0.1">5.0.1</option>
          <option value="5.0.0">5.0.0</option>
          <option value="4.6.0">4.6.0</option>
        </select>
        <small class="form-text text-muted">Adverts with a version set will only show for certain Opsview versions, use this for targeted adverts</small>
      </div>
      <div class="form-group">
        <label for="file">Advert Image</label>
        <input type="file" class="form-control-file" id="file" name="advert_image" required>
        <small id="fileHelp" class="form-text text-muted">This image gets uploaded to Opsview then on to S3 for rotation</small>
      </div>
      <button type="submit" class="btn btn-primary">Add Advert</button>
    </form>
  </p>
</div>
